body {
    max-width: 950px;
    margin: 15px auto;
    padding: 15px;
}
h1 {
    font-size: 3em;
    font-family: "Ramabhadra", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin-top: 0px;
}
p {
    font-size: 1.2em;
    font-family: "Raleway", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 1.4em;
    color: #333;
}
