body {
    margin: 60px auto;
    width: 70%;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
